@model IEnumerable<ParkingLotWebApp.Models.AnnouncementDetail>

@{
    ViewBag.Title = "Index";
}


<div class="row height-600">
    <div class="col-xs-12 col-md-4 left m-t-15">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title">
                    公告列表
                    @Ajax.ActionLink(Resources.WebPages.News_Create_New, "Create", null, new AjaxOptions() { UpdateTargetId = "replacepageholder", HttpMethod = "Get" }, new { @class = "btn btn-xs btn-default pull-right" })
                </h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @foreach (var item in Model)
                    {
                        <a class="list-group-item" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace"
                            data-ajax-update="#replacepageholder" href="@Url.Action("Edit",new { id = item.No })">@item.Title<div class="pull-right">@(item.StartDate.Value.ToShortDateString())</div></a> 
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-8 right" >
        <div class="row" id="replacepageholder">
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    </script>
}
