@model IEnumerable<ParkingLotWebApp.Models.News_Header>

@{
    ViewBag.Title = "Index";
}

<h2>公告列表</h2>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item"><a href="javascript:ShowDetails('@Url.Action("Details","NewsContext",new { id=item.News_Body.Id })');">@Html.DisplayFor(modelItem => item.Caption) @Html.DisplayFor(modelItem => item.CreateUTCTime)</a></li>
            }
        </ul>
    </div>
    <div class="col-xs-12 col-md-8" id="replacepageholder">

    </div>
</div>
<a href="javascript:ShowCreateNewPost('/News/Create');">Create New</a>
   

@section scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script type="text/javascript">
        function ShowDetails(url) {
            $('#replacepageholder').empty();
            $('#replacepageholder').load(url);
        }
        function ShowCreateNewPost(url) {
            $('#replacepageholder').empty();
            $('#replacepageholder').load(url);
        }
        $(document).ready(function () {

        });
    </script>
}
