@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "錯誤";
}

<h1 class="text-danger">錯誤。</h1>
<h2 class="text-danger">處理您的要求時發生錯誤。</h2>
@if (User.Identity != null && User.Identity.IsAuthenticated && Request.IsLocal)
{

    if (User.IsInRole("Admins"))
    {
        <dl class="dl-horizontal">
            @if (Model != null)
            {
                <dt>控制器名稱</dt>
                <dd>@Model.ControllerName</dd>
                <dt>動作名稱</dt>
                <dd>@Model.ActionName</dd>
                <dt>錯誤訊息</dt>
                if (Model.Exception != null)
                {
                    <dd>@Model.Exception.Message</dd>
                }
            }
        </dl>
        if (Model != null)
        {
<pre>
    @Model.Exception.StackTrace
</pre>
        }

    }
}


