/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/* Warning: 此設定與bootstrap布局衝突 改回原設定並依據相對大小設定
input,
select,
textarea {
    max-width: 280px;
}
*/

.m-5 {
    margin: 5px 5px;
}

.m-10 {
    margin: 10px 10px;
}

.m-15 {
    margin: 15px 15px;
}

.m-20 {
    margin: 20px 20px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-r-20 {
    margin-right: 20px;
}

.height-600 {
    height: 600px;
    min-height: 600px;
    max-width: 2048px;
}

.winbond-logo{
    background: url('/assets/img/logo.png') no-repeat;
    background-size: 220px 54px;
}